.App {
  text-align: right;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #0c0209;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(240, 231, 231);
}

.App-link {
  color: #d5dfdd;
}
