.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mueveIzquierda {
  margin-left: 2%;
  margin-right: 2%;
  text-align: left;
}
.mueveDerecha {
  float: right;
}
.mueveCentro {
  text-align: center;
}
.borde {
  border: 3px solid black;
  margin-left: 10%;
  margin-right: 10%;
  background: white;
  color: black;
  font-size: 18px;
}
.estampilla{
  height: 100px;
  width: 100px;
}