.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.ContainerEnvelope{
  border: 1px solid gray;
}
.ContainerSuperior{
  width: 400px;
  display: flex;
  flex-direction: row;
}
.Direccion{
  width: 200px;
}
.Estampilla{
  width: 200px;
  display: flex;
  flex-direction: flex end;
}
.ContainerInferior{
  display: flex;
  justify-content: center;
}
.Estampa{
  height: 80px;
  width: 80px;
}