.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.Container{

  border: 1px solid gray;

}

.Container-superior{

  width: 800px;
  display: flex;
  flex-direction: row;

}

.Direccion{

  width: 200px;
}

.Estampilla{

  width: 200px;
  display: flex;
  justify-content: center;
}

.Container-inferior{

  display: flex;
  justify-content: center;

}

.estampa{

  height: 80px;
  width: 80px;
}


